* {
  box-sizing: border-box;
}



.multi-select, .multi-select-plugin {
  display: inline-block;
  position: relative;
}
.multi-select > span, .multi-select-plugin > span {
  border: none;
  background: none;
  position: relative;
  /* padding: 0.25em 0.5em;
  padding-right: 1.5em; */
  display: block;
  /* border: solid 1px #000; */
  cursor: default;
}
.multi-select > span > .chevron, .multi-select-plugin > span > .chevron {
  display: inline-block;
  /* transform: rotate(-90deg) scale(1, 2) translate(-50%, 0); */
  /* font-weight: bold; */
  /* font-size: 10px; */
  position: absolute;
  top: -1px;
    right: -0.25em;
}
.multi-select > ul, .multi-select-plugin > ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  top: 100%;
  min-width: 100%;
  z-index: 1000;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}
.multi-select > ul > li, .multi-select-plugin > ul > li {
  white-space: nowrap;
}
.multi-select > ul > li.selected > label, .multi-select-plugin > ul > li.selected > label {
  background-color: LightBlue;
}
.multi-select > ul > li.focused > label, .multi-select-plugin > ul > li.focused > label {
  background-color: #00204A;
  font-weight: 600;
}
.multi-select > ul > li > label, .multi-select-plugin > ul > li > label {
  padding: 0.25em 0.5em;
  display: block;
  
}
.multi-select > ul > li > label:focus, .multi-select > ul > li > label:hover, .multi-select-plugin > ul > li > label:focus, .multi-select-plugin > ul > li > label:hover {
  background-color: #00204A;
  color: #ffffff !important;
}
.multi-select.in > ul, .multi-select-plugin.in > ul {
  display: block;
}
.multi-select-backdrop, .multi-select-plugin-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}


/* chevron */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid black;
 
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.font-weight-label{
  font-weight: 500 !important;
}